
    /* Log-in div */ 
	.log-in { 
	    width:30%; background:grey;padding:20px;margin: 0 auto;}
		
	/* Log-in div image */ 
	.imgStart{width:30%;margin-top:32px;}
		
		
		
		
	/* ---------------------------------------- Mobile--------------------------------- */
    @media screen and (max-width: 480px) { 
	
	.log-in { width:90%; }                 /* Log-in div */ 
	.imgStart{width:70%;margin-top:32px;}  /* Log-in div image */ 
	    
    }
	/* ------------------------------------ END Mobile----------------------------------- */
	
	

    /* <a href> color */ 
	a {color: white;}
	  
	 /* Class to set shadow */
	.myShadow{
       box-shadow: 10px 10px 5px grey;
    }